**/.DS_Store
**/env_*/
**/mongoData/
**/*.csv
**/*.zip
**/.env
**/.vscode
**/.idea
**/*.joblib
**/*.pkl
**/*.tsv
**/*.npy
**/*.model

dataset/FakeNewsNet/data
dataset/LIAR/data
dataset/ISOT/data
model/word-embedding/logs
model/word-embedding/model.h5
model/training/transformer/distbert/trainer
model/training/transformer/model_distilbert
model/training/transformer/data
model/training/transformer/model/$training-20230203-034151$-model-microsoft/deberta-base/log
