**/.DS_Store
**/env_*/
**/mongoData/
**/*.csv
**/*.zip
**/.env
**/.vscode
**/.idea
**/*.joblib
**/*.onnx
**/*.pkl
**/*.tsv
**/*.npy
**/*.model
**/__pycache__
**/*.gzip
**/*.tar.gz

dataset/FakeNewsNet/data
dataset/LIAR/data
dataset/ISOT/data
model/archive/word-embedding/logs
model/archive/word-embedding/model.h5
model/archive/training/transformer/distbert/trainer
model/archive/training/transformer/model_distilbert
model/archive/training/transformer/data
model/archive/training/transformer/model
model/input